<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Admin Dashboard</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <h1 class="my-4">Admin Dashboarddd</h1>
  <p>Welcome, Admin!</p>

  <!-- Link ke halaman CRUD quiz -->
  <a href="/quiz/manage" class="btn btn-primary">Manage Quizzes</a>

  <a href="/auth/logout" class="btn btn-danger">Logout</a>
</div>

</body>
</html>
